.tabstyle{
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
    border-radius: 10px;

}
td, th {
    padding: 16px;
}
td:first-child {
    text-align: left;
}
thead th:nth-child(1){
    background-color: rgb(112, 112, 201);
}
thead th:nth-child(2){
    background-color: rgb(81, 81, 179);
}
thead th:nth-child(3){
    background-color: rgb(47, 47, 145);
}
thead th:nth-child(4){
    background-color: rgb(27, 27, 116);
}
thead th:nth-child(5){
    background-color: rgb(11, 11, 83);
}
tbody tr:nth-child(odd) td:nth-child(odd), tfoot th:nth-child(odd) 
{
    background-color: rgb(224, 224, 224);
}
tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even),
tfoot th:nth-child(even)
{
    background-color: rgb(240, 240, 240);
}
.buttstyle {
    padding: 10px;
    width: 100px;
}
thead {
    color: white;
}
.money {
    font-size: 36px;
}
.xttop {
    vertical-align: text-top;
}