.App {
    font-family: sans-serif;
    text-align: center;
  }
  .City {
    font-size: 20px;
    border-radius: 20px;
    background: linear-gradient(rgb(146, 146, 188),white);
    box-shadow: 0 0 15px black;
    margin-top: 30px;
  }
  img {
    margin-bottom: 10px;
  }
  .City1 {
    padding: 15px;
  }