body {
    background-color: rgb(138, 143, 150);
}
.styled-div div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

.styled-div div input {
    margin-right: 65%;
}
button {
    min-height: 25px;
}
#styled-button {
    width: 25%;
    margin-left: 5px;
}
#clear-button {
    width: 10%;
    margin-right: 65%;
    margin-left: 5px;
}

span {
    margin-left: 5px;
}
input {
    width: 14%;
}

#search {
    width: 100%;
    margin-left: 5px;
    margin-top: 25px;
}

table {
    margin-top: 45px;
}

table th, .table td {
    padding: 25px;
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.btn.btn-danger {
    height: 35px;
    width: 60px;
}